{
    "template": [
        {
            "options": {
                "name": {
                    "data_type": "string", 
                    "default": "", 
                    "editable": false, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 1, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Name.", 
                    "value": "", 
                    "value_required": false
                }, 
                "side": {
                    "data_type": "string", 
                    "default": "C", 
                    "editable": false, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 0, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Side.", 
                    "value": "C", 
                    "value_required": true
                }
            }, 
            "part_data": {
                "attrs": {
                    "DISPLAYSPACER": 0, 
                    "REFSPACER": 0, 
                    "UniformScale": 1.0, 
                    "VISSPACER": 0, 
                    "controlDisplayLocalAxis": 0, 
                    "controlsVisibility": 1, 
                    "geometryVisibility": 1, 
                    "jointDisplayLocalAxis": 0, 
                    "jointsDisplay": 2, 
                    "jointsVisibility": 1, 
                    "rotateX": 0.0, 
                    "rotateY": 0.0, 
                    "rotateZ": 0.0, 
                    "translateX": 0.0, 
                    "translateY": 0.0, 
                    "translateZ": 0.0, 
                    "visibility": true
                }, 
                "nodes": [
                    "C_root_guide_GRP", 
                    [
                        "C_root_PLC"
                    ], 
                    [
                        "C_world_PVT", 
                        "C_visibility_PVT"
                    ], 
                    [
                        "C_world_offset3_CTL", 
                        "C_world_offset2_CTL", 
                        "C_world_offset1_CTL", 
                        "C_world_offset_CTL", 
                        "C_world_CTL", 
                        "C_visibility_CTL"
                    ], 
                    [], 
                    []
                ], 
                "shapes": {
                    "C_visibility_CTL": {
                        "color": "yellow", 
                        "shape": [
                            {
                                "degree": 1, 
                                "periodic": true, 
                                "point": [
                                    [
                                        -0.13978, 
                                        -1.0, 
                                        0.0
                                    ], 
                                    [
                                        0.13158, 
                                        -1.0, 
                                        0.0
                                    ], 
                                    [
                                        0.91474, 
                                        1.0, 
                                        0.0
                                    ], 
                                    [
                                        0.6446, 
                                        1.0, 
                                        0.0
                                    ], 
                                    [
                                        0.10432, 
                                        -0.45296, 
                                        0.0
                                    ], 
                                    [
                                        0.04673, 
                                        -0.61667, 
                                        0.0
                                    ], 
                                    [
                                        -0.00348, 
                                        -0.78028, 
                                        0.0
                                    ], 
                                    [
                                        -0.05083, 
                                        -0.6221, 
                                        0.0
                                    ], 
                                    [
                                        -0.10842, 
                                        -0.45296, 
                                        0.0
                                    ], 
                                    [
                                        -0.6282, 
                                        1.0, 
                                        0.0
                                    ], 
                                    [
                                        -0.91474, 
                                        1.0, 
                                        0.0
                                    ]
                                ]
                            }
                        ]
                    }, 
                    "C_world_CTL": {
                        "color": "yellow", 
                        "shape": [
                            {
                                "degree": 1, 
                                "periodic": false, 
                                "point": [
                                    [
                                        -0.00531, 
                                        0.0, 
                                        3.29748
                                    ], 
                                    [
                                        0.33279, 
                                        0.0, 
                                        2.98245
                                    ], 
                                    [
                                        0.71019, 
                                        0.0, 
                                        2.91402
                                    ], 
                                    [
                                        1.04403, 
                                        0.0, 
                                        2.81076
                                    ], 
                                    [
                                        1.3977, 
                                        0.0, 
                                        2.65308
                                    ], 
                                    [
                                        1.77378, 
                                        0.0, 
                                        2.4201
                                    ], 
                                    [
                                        2.10486, 
                                        0.0, 
                                        2.14032
                                    ], 
                                    [
                                        2.37363, 
                                        0.0, 
                                        1.83624
                                    ], 
                                    [
                                        2.60556, 
                                        0.0, 
                                        1.48542
                                    ], 
                                    [
                                        2.79354, 
                                        0.0, 
                                        1.08999
                                    ], 
                                    [
                                        2.89125, 
                                        0.0, 
                                        0.79791
                                    ], 
                                    [
                                        2.97924, 
                                        0.0, 
                                        0.36306
                                    ], 
                                    [
                                        3.00216, 
                                        0.0, 
                                        -0.02352
                                    ], 
                                    [
                                        2.95062, 
                                        0.0, 
                                        -0.54552
                                    ], 
                                    [
                                        2.85597, 
                                        0.0, 
                                        -0.91596
                                    ], 
                                    [
                                        2.67204, 
                                        0.0, 
                                        -1.36236
                                    ], 
                                    [
                                        2.45925, 
                                        0.0, 
                                        -1.71975
                                    ], 
                                    [
                                        2.17257, 
                                        0.0, 
                                        -2.07255
                                    ], 
                                    [
                                        1.86171, 
                                        0.0, 
                                        -2.35476
                                    ], 
                                    [
                                        1.52286, 
                                        0.0, 
                                        -2.58483
                                    ], 
                                    [
                                        1.17498, 
                                        0.0, 
                                        -2.75955
                                    ], 
                                    [
                                        0.71463, 
                                        0.0, 
                                        -2.91393
                                    ], 
                                    [
                                        0.25092, 
                                        0.0, 
                                        -2.99178
                                    ], 
                                    [
                                        -0.09165, 
                                        0.0, 
                                        -3.00129
                                    ], 
                                    [
                                        -0.4323, 
                                        0.0, 
                                        -2.97024
                                    ], 
                                    [
                                        -0.7347, 
                                        0.0, 
                                        -2.90886
                                    ], 
                                    [
                                        -1.11225, 
                                        0.0, 
                                        -2.78544
                                    ], 
                                    [
                                        -1.43061, 
                                        0.0, 
                                        -2.63664
                                    ], 
                                    [
                                        -1.72872, 
                                        0.0, 
                                        -2.45319
                                    ], 
                                    [
                                        -2.004, 
                                        0.0, 
                                        -2.23575
                                    ], 
                                    [
                                        -2.1933, 
                                        0.0, 
                                        -2.05053
                                    ], 
                                    [
                                        -2.39307, 
                                        0.0, 
                                        -1.81158
                                    ], 
                                    [
                                        -2.55495, 
                                        0.0, 
                                        -1.5726
                                    ], 
                                    [
                                        -2.72823, 
                                        0.0, 
                                        -1.24551
                                    ], 
                                    [
                                        -2.83539, 
                                        0.0, 
                                        -0.97746
                                    ], 
                                    [
                                        -2.92491, 
                                        0.0, 
                                        -0.66744
                                    ], 
                                    [
                                        -2.96559, 
                                        0.0, 
                                        -0.45972
                                    ], 
                                    [
                                        -2.99982, 
                                        0.0, 
                                        -0.11913
                                    ], 
                                    [
                                        -2.99586, 
                                        0.0, 
                                        0.19098
                                    ], 
                                    [
                                        -2.94753, 
                                        0.0, 
                                        0.56061
                                    ], 
                                    [
                                        -2.84064, 
                                        0.0, 
                                        0.9612
                                    ], 
                                    [
                                        -2.70939, 
                                        0.0, 
                                        1.28511
                                    ], 
                                    [
                                        -2.55519, 
                                        0.0, 
                                        1.57119
                                    ], 
                                    [
                                        -2.40093, 
                                        0.0, 
                                        1.80006
                                    ], 
                                    [
                                        -2.17506, 
                                        0.0, 
                                        2.06892
                                    ], 
                                    [
                                        -1.90812, 
                                        0.0, 
                                        2.3166
                                    ], 
                                    [
                                        -1.66089, 
                                        0.0, 
                                        2.49816
                                    ], 
                                    [
                                        -1.32012, 
                                        0.0, 
                                        2.69232
                                    ], 
                                    [
                                        -0.94719, 
                                        0.0, 
                                        2.84502
                                    ], 
                                    [
                                        -0.54804, 
                                        0.0, 
                                        2.94954
                                    ], 
                                    [
                                        -0.28704, 
                                        0.0, 
                                        2.9874
                                    ], 
                                    [
                                        -0.00531, 
                                        0.0, 
                                        3.29748
                                    ]
                                ]
                            }
                        ]
                    }, 
                    "C_world_offset1_CTL": {
                        "color": "yellow", 
                        "shape": [
                            {
                                "degree": 1, 
                                "periodic": false, 
                                "point": [
                                    [
                                        -0.00425, 
                                        0.0, 
                                        2.63798
                                    ], 
                                    [
                                        0.26623, 
                                        0.0, 
                                        2.38596
                                    ], 
                                    [
                                        0.56815, 
                                        0.0, 
                                        2.33122
                                    ], 
                                    [
                                        0.83522, 
                                        0.0, 
                                        2.24861
                                    ], 
                                    [
                                        1.11816, 
                                        0.0, 
                                        2.12246
                                    ], 
                                    [
                                        1.41902, 
                                        0.0, 
                                        1.93608
                                    ], 
                                    [
                                        1.68389, 
                                        0.0, 
                                        1.71226
                                    ], 
                                    [
                                        1.8989, 
                                        0.0, 
                                        1.46899
                                    ], 
                                    [
                                        2.08445, 
                                        0.0, 
                                        1.18834
                                    ], 
                                    [
                                        2.23483, 
                                        0.0, 
                                        0.87199
                                    ], 
                                    [
                                        2.313, 
                                        0.0, 
                                        0.63833
                                    ], 
                                    [
                                        2.38339, 
                                        0.0, 
                                        0.29045
                                    ], 
                                    [
                                        2.40173, 
                                        0.0, 
                                        -0.01882
                                    ], 
                                    [
                                        2.3605, 
                                        0.0, 
                                        -0.43642
                                    ], 
                                    [
                                        2.28478, 
                                        0.0, 
                                        -0.73277
                                    ], 
                                    [
                                        2.13763, 
                                        0.0, 
                                        -1.08989
                                    ], 
                                    [
                                        1.9674, 
                                        0.0, 
                                        -1.3758
                                    ], 
                                    [
                                        1.73806, 
                                        0.0, 
                                        -1.65804
                                    ], 
                                    [
                                        1.48937, 
                                        0.0, 
                                        -1.88381
                                    ], 
                                    [
                                        1.21829, 
                                        0.0, 
                                        -2.06786
                                    ], 
                                    [
                                        0.93998, 
                                        0.0, 
                                        -2.20764
                                    ], 
                                    [
                                        0.5717, 
                                        0.0, 
                                        -2.33114
                                    ], 
                                    [
                                        0.20074, 
                                        0.0, 
                                        -2.39342
                                    ], 
                                    [
                                        -0.07332, 
                                        0.0, 
                                        -2.40103
                                    ], 
                                    [
                                        -0.34584, 
                                        0.0, 
                                        -2.37619
                                    ], 
                                    [
                                        -0.58776, 
                                        0.0, 
                                        -2.32709
                                    ], 
                                    [
                                        -0.8898, 
                                        0.0, 
                                        -2.22835
                                    ], 
                                    [
                                        -1.14449, 
                                        0.0, 
                                        -2.10931
                                    ], 
                                    [
                                        -1.38298, 
                                        0.0, 
                                        -1.96255
                                    ], 
                                    [
                                        -1.6032, 
                                        0.0, 
                                        -1.7886
                                    ], 
                                    [
                                        -1.75464, 
                                        0.0, 
                                        -1.64042
                                    ], 
                                    [
                                        -1.91446, 
                                        0.0, 
                                        -1.44926
                                    ], 
                                    [
                                        -2.04396, 
                                        0.0, 
                                        -1.25808
                                    ], 
                                    [
                                        -2.18258, 
                                        0.0, 
                                        -0.99641
                                    ], 
                                    [
                                        -2.26831, 
                                        0.0, 
                                        -0.78197
                                    ], 
                                    [
                                        -2.33993, 
                                        0.0, 
                                        -0.53395
                                    ], 
                                    [
                                        -2.37247, 
                                        0.0, 
                                        -0.36778
                                    ], 
                                    [
                                        -2.39986, 
                                        0.0, 
                                        -0.0953
                                    ], 
                                    [
                                        -2.39669, 
                                        0.0, 
                                        0.15278
                                    ], 
                                    [
                                        -2.35802, 
                                        0.0, 
                                        0.44849
                                    ], 
                                    [
                                        -2.27251, 
                                        0.0, 
                                        0.76896
                                    ], 
                                    [
                                        -2.16751, 
                                        0.0, 
                                        1.02809
                                    ], 
                                    [
                                        -2.04415, 
                                        0.0, 
                                        1.25695
                                    ], 
                                    [
                                        -1.92074, 
                                        0.0, 
                                        1.44005
                                    ], 
                                    [
                                        -1.74005, 
                                        0.0, 
                                        1.65514
                                    ], 
                                    [
                                        -1.5265, 
                                        0.0, 
                                        1.85328
                                    ], 
                                    [
                                        -1.32871, 
                                        0.0, 
                                        1.99853
                                    ], 
                                    [
                                        -1.0561, 
                                        0.0, 
                                        2.15386
                                    ], 
                                    [
                                        -0.75775, 
                                        0.0, 
                                        2.27602
                                    ], 
                                    [
                                        -0.43843, 
                                        0.0, 
                                        2.35963
                                    ], 
                                    [
                                        -0.22963, 
                                        0.0, 
                                        2.38992
                                    ], 
                                    [
                                        -0.00425, 
                                        0.0, 
                                        2.63798
                                    ]
                                ]
                            }
                        ]
                    }, 
                    "C_world_offset2_CTL": {
                        "color": "yellow", 
                        "shape": [
                            {
                                "degree": 1, 
                                "periodic": false, 
                                "point": [
                                    [
                                        -0.00372, 
                                        0.0, 
                                        2.30824
                                    ], 
                                    [
                                        0.23295, 
                                        0.0, 
                                        2.08772
                                    ], 
                                    [
                                        0.49713, 
                                        0.0, 
                                        2.03981
                                    ], 
                                    [
                                        0.73082, 
                                        0.0, 
                                        1.96753
                                    ], 
                                    [
                                        0.97839, 
                                        0.0, 
                                        1.85716
                                    ], 
                                    [
                                        1.24165, 
                                        0.0, 
                                        1.69407
                                    ], 
                                    [
                                        1.4734, 
                                        0.0, 
                                        1.49822
                                    ], 
                                    [
                                        1.66154, 
                                        0.0, 
                                        1.28537
                                    ], 
                                    [
                                        1.82389, 
                                        0.0, 
                                        1.03979
                                    ], 
                                    [
                                        1.95548, 
                                        0.0, 
                                        0.76299
                                    ], 
                                    [
                                        2.02387, 
                                        0.0, 
                                        0.55854
                                    ], 
                                    [
                                        2.08547, 
                                        0.0, 
                                        0.25414
                                    ], 
                                    [
                                        2.10151, 
                                        0.0, 
                                        -0.01646
                                    ], 
                                    [
                                        2.06543, 
                                        0.0, 
                                        -0.38186
                                    ], 
                                    [
                                        1.99918, 
                                        0.0, 
                                        -0.64117
                                    ], 
                                    [
                                        1.87043, 
                                        0.0, 
                                        -0.95365
                                    ], 
                                    [
                                        1.72147, 
                                        0.0, 
                                        -1.20382
                                    ], 
                                    [
                                        1.5208, 
                                        0.0, 
                                        -1.45078
                                    ], 
                                    [
                                        1.3032, 
                                        0.0, 
                                        -1.64833
                                    ], 
                                    [
                                        1.066, 
                                        0.0, 
                                        -1.80938
                                    ], 
                                    [
                                        0.82249, 
                                        0.0, 
                                        -1.93168
                                    ], 
                                    [
                                        0.50024, 
                                        0.0, 
                                        -2.03975
                                    ], 
                                    [
                                        0.17564, 
                                        0.0, 
                                        -2.09425
                                    ], 
                                    [
                                        -0.06415, 
                                        0.0, 
                                        -2.1009
                                    ], 
                                    [
                                        -0.30261, 
                                        0.0, 
                                        -2.07917
                                    ], 
                                    [
                                        -0.51429, 
                                        0.0, 
                                        -2.0362
                                    ], 
                                    [
                                        -0.77858, 
                                        0.0, 
                                        -1.94981
                                    ], 
                                    [
                                        -1.00143, 
                                        0.0, 
                                        -1.84565
                                    ], 
                                    [
                                        -1.2101, 
                                        0.0, 
                                        -1.71723
                                    ], 
                                    [
                                        -1.4028, 
                                        0.0, 
                                        -1.56502
                                    ], 
                                    [
                                        -1.53531, 
                                        0.0, 
                                        -1.43537
                                    ], 
                                    [
                                        -1.67515, 
                                        0.0, 
                                        -1.26811
                                    ], 
                                    [
                                        -1.78846, 
                                        0.0, 
                                        -1.10082
                                    ], 
                                    [
                                        -1.90976, 
                                        0.0, 
                                        -0.87186
                                    ], 
                                    [
                                        -1.98477, 
                                        0.0, 
                                        -0.68422
                                    ], 
                                    [
                                        -2.04744, 
                                        0.0, 
                                        -0.46721
                                    ], 
                                    [
                                        -2.07591, 
                                        0.0, 
                                        -0.3218
                                    ], 
                                    [
                                        -2.09987, 
                                        0.0, 
                                        -0.08339
                                    ], 
                                    [
                                        -2.0971, 
                                        0.0, 
                                        0.13369
                                    ], 
                                    [
                                        -2.06327, 
                                        0.0, 
                                        0.39243
                                    ], 
                                    [
                                        -1.98845, 
                                        0.0, 
                                        0.67284
                                    ], 
                                    [
                                        -1.89657, 
                                        0.0, 
                                        0.89958
                                    ], 
                                    [
                                        -1.78863, 
                                        0.0, 
                                        1.09983
                                    ], 
                                    [
                                        -1.68065, 
                                        0.0, 
                                        1.26004
                                    ], 
                                    [
                                        -1.52254, 
                                        0.0, 
                                        1.44824
                                    ], 
                                    [
                                        -1.33568, 
                                        0.0, 
                                        1.62162
                                    ], 
                                    [
                                        -1.16262, 
                                        0.0, 
                                        1.74871
                                    ], 
                                    [
                                        -0.92408, 
                                        0.0, 
                                        1.88462
                                    ], 
                                    [
                                        -0.66303, 
                                        0.0, 
                                        1.99151
                                    ], 
                                    [
                                        -0.38363, 
                                        0.0, 
                                        2.06468
                                    ], 
                                    [
                                        -0.20093, 
                                        0.0, 
                                        2.09118
                                    ], 
                                    [
                                        -0.00372, 
                                        0.0, 
                                        2.30824
                                    ]
                                ]
                            }
                        ]
                    }, 
                    "C_world_offset3_CTL": {
                        "color": "yellow", 
                        "shape": [
                            {
                                "degree": 1, 
                                "periodic": false, 
                                "point": [
                                    [
                                        -0.00319, 
                                        0.0, 
                                        1.97849
                                    ], 
                                    [
                                        0.19967, 
                                        0.0, 
                                        1.78947
                                    ], 
                                    [
                                        0.42611, 
                                        0.0, 
                                        1.74841
                                    ], 
                                    [
                                        0.62642, 
                                        0.0, 
                                        1.68646
                                    ], 
                                    [
                                        0.83862, 
                                        0.0, 
                                        1.59185
                                    ], 
                                    [
                                        1.06427, 
                                        0.0, 
                                        1.45206
                                    ], 
                                    [
                                        1.26292, 
                                        0.0, 
                                        1.28419
                                    ], 
                                    [
                                        1.42418, 
                                        0.0, 
                                        1.10174
                                    ], 
                                    [
                                        1.56334, 
                                        0.0, 
                                        0.89125
                                    ], 
                                    [
                                        1.67612, 
                                        0.0, 
                                        0.65399
                                    ], 
                                    [
                                        1.73475, 
                                        0.0, 
                                        0.47875
                                    ], 
                                    [
                                        1.78754, 
                                        0.0, 
                                        0.21784
                                    ], 
                                    [
                                        1.8013, 
                                        0.0, 
                                        -0.01411
                                    ], 
                                    [
                                        1.77037, 
                                        0.0, 
                                        -0.32731
                                    ], 
                                    [
                                        1.71358, 
                                        0.0, 
                                        -0.54958
                                    ], 
                                    [
                                        1.60322, 
                                        0.0, 
                                        -0.81742
                                    ], 
                                    [
                                        1.47555, 
                                        0.0, 
                                        -1.03185
                                    ], 
                                    [
                                        1.30354, 
                                        0.0, 
                                        -1.24353
                                    ], 
                                    [
                                        1.11703, 
                                        0.0, 
                                        -1.41286
                                    ], 
                                    [
                                        0.91372, 
                                        0.0, 
                                        -1.5509
                                    ], 
                                    [
                                        0.70499, 
                                        0.0, 
                                        -1.65573
                                    ], 
                                    [
                                        0.42878, 
                                        0.0, 
                                        -1.74836
                                    ], 
                                    [
                                        0.15055, 
                                        0.0, 
                                        -1.79507
                                    ], 
                                    [
                                        -0.05499, 
                                        0.0, 
                                        -1.80077
                                    ], 
                                    [
                                        -0.25938, 
                                        0.0, 
                                        -1.78214
                                    ], 
                                    [
                                        -0.44082, 
                                        0.0, 
                                        -1.74532
                                    ], 
                                    [
                                        -0.66735, 
                                        0.0, 
                                        -1.67126
                                    ], 
                                    [
                                        -0.85837, 
                                        0.0, 
                                        -1.58198
                                    ], 
                                    [
                                        -1.03723, 
                                        0.0, 
                                        -1.47191
                                    ], 
                                    [
                                        -1.2024, 
                                        0.0, 
                                        -1.34145
                                    ], 
                                    [
                                        -1.31598, 
                                        0.0, 
                                        -1.23032
                                    ], 
                                    [
                                        -1.43584, 
                                        0.0, 
                                        -1.08695
                                    ], 
                                    [
                                        -1.53297, 
                                        0.0, 
                                        -0.94356
                                    ], 
                                    [
                                        -1.63694, 
                                        0.0, 
                                        -0.74731
                                    ], 
                                    [
                                        -1.70123, 
                                        0.0, 
                                        -0.58648
                                    ], 
                                    [
                                        -1.75495, 
                                        0.0, 
                                        -0.40046
                                    ], 
                                    [
                                        -1.77935, 
                                        0.0, 
                                        -0.27583
                                    ], 
                                    [
                                        -1.79989, 
                                        0.0, 
                                        -0.07148
                                    ], 
                                    [
                                        -1.79752, 
                                        0.0, 
                                        0.11459
                                    ], 
                                    [
                                        -1.76852, 
                                        0.0, 
                                        0.33637
                                    ], 
                                    [
                                        -1.70438, 
                                        0.0, 
                                        0.57672
                                    ], 
                                    [
                                        -1.62563, 
                                        0.0, 
                                        0.77107
                                    ], 
                                    [
                                        -1.53311, 
                                        0.0, 
                                        0.94271
                                    ], 
                                    [
                                        -1.44056, 
                                        0.0, 
                                        1.08004
                                    ], 
                                    [
                                        -1.30504, 
                                        0.0, 
                                        1.24135
                                    ], 
                                    [
                                        -1.14487, 
                                        0.0, 
                                        1.38996
                                    ], 
                                    [
                                        -0.99653, 
                                        0.0, 
                                        1.4989
                                    ], 
                                    [
                                        -0.79207, 
                                        0.0, 
                                        1.61539
                                    ], 
                                    [
                                        -0.56831, 
                                        0.0, 
                                        1.70701
                                    ], 
                                    [
                                        -0.32882, 
                                        0.0, 
                                        1.76972
                                    ], 
                                    [
                                        -0.17222, 
                                        0.0, 
                                        1.79244
                                    ], 
                                    [
                                        -0.00319, 
                                        0.0, 
                                        1.97849
                                    ]
                                ]
                            }
                        ]
                    }, 
                    "C_world_offset_CTL": {
                        "color": "yellow", 
                        "shape": [
                            {
                                "degree": 1, 
                                "periodic": false, 
                                "point": [
                                    [
                                        -0.00478, 
                                        0.0, 
                                        2.96773
                                    ], 
                                    [
                                        0.29951, 
                                        0.0, 
                                        2.6842
                                    ], 
                                    [
                                        0.63917, 
                                        0.0, 
                                        2.62262
                                    ], 
                                    [
                                        0.93963, 
                                        0.0, 
                                        2.52968
                                    ], 
                                    [
                                        1.25793, 
                                        0.0, 
                                        2.38777
                                    ], 
                                    [
                                        1.5964, 
                                        0.0, 
                                        2.17809
                                    ], 
                                    [
                                        1.89437, 
                                        0.0, 
                                        1.92629
                                    ], 
                                    [
                                        2.13627, 
                                        0.0, 
                                        1.65262
                                    ], 
                                    [
                                        2.345, 
                                        0.0, 
                                        1.33688
                                    ], 
                                    [
                                        2.51419, 
                                        0.0, 
                                        0.98099
                                    ], 
                                    [
                                        2.60213, 
                                        0.0, 
                                        0.71812
                                    ], 
                                    [
                                        2.68132, 
                                        0.0, 
                                        0.32675
                                    ], 
                                    [
                                        2.70194, 
                                        0.0, 
                                        -0.02117
                                    ], 
                                    [
                                        2.65556, 
                                        0.0, 
                                        -0.49097
                                    ], 
                                    [
                                        2.57037, 
                                        0.0, 
                                        -0.82436
                                    ], 
                                    [
                                        2.40484, 
                                        0.0, 
                                        -1.22612
                                    ], 
                                    [
                                        2.21332, 
                                        0.0, 
                                        -1.54778
                                    ], 
                                    [
                                        1.95531, 
                                        0.0, 
                                        -1.8653
                                    ], 
                                    [
                                        1.67554, 
                                        0.0, 
                                        -2.11928
                                    ], 
                                    [
                                        1.37057, 
                                        0.0, 
                                        -2.32635
                                    ], 
                                    [
                                        1.05748, 
                                        0.0, 
                                        -2.48359
                                    ], 
                                    [
                                        0.64317, 
                                        0.0, 
                                        -2.62254
                                    ], 
                                    [
                                        0.22583, 
                                        0.0, 
                                        -2.6926
                                    ], 
                                    [
                                        -0.08249, 
                                        0.0, 
                                        -2.70116
                                    ], 
                                    [
                                        -0.38907, 
                                        0.0, 
                                        -2.67322
                                    ], 
                                    [
                                        -0.66123, 
                                        0.0, 
                                        -2.61797
                                    ], 
                                    [
                                        -1.00103, 
                                        0.0, 
                                        -2.5069
                                    ], 
                                    [
                                        -1.28755, 
                                        0.0, 
                                        -2.37298
                                    ], 
                                    [
                                        -1.55585, 
                                        0.0, 
                                        -2.20787
                                    ], 
                                    [
                                        -1.8036, 
                                        0.0, 
                                        -2.01218
                                    ], 
                                    [
                                        -1.97397, 
                                        0.0, 
                                        -1.84548
                                    ], 
                                    [
                                        -2.15376, 
                                        0.0, 
                                        -1.63042
                                    ], 
                                    [
                                        -2.29946, 
                                        0.0, 
                                        -1.41534
                                    ], 
                                    [
                                        -2.45541, 
                                        0.0, 
                                        -1.12096
                                    ], 
                                    [
                                        -2.55185, 
                                        0.0, 
                                        -0.87971
                                    ], 
                                    [
                                        -2.63242, 
                                        0.0, 
                                        -0.6007
                                    ], 
                                    [
                                        -2.66903, 
                                        0.0, 
                                        -0.41375
                                    ], 
                                    [
                                        -2.69984, 
                                        0.0, 
                                        -0.10722
                                    ], 
                                    [
                                        -2.69627, 
                                        0.0, 
                                        0.17188
                                    ], 
                                    [
                                        -2.65278, 
                                        0.0, 
                                        0.50455
                                    ], 
                                    [
                                        -2.55658, 
                                        0.0, 
                                        0.86508
                                    ], 
                                    [
                                        -2.43845, 
                                        0.0, 
                                        1.1566
                                    ], 
                                    [
                                        -2.29967, 
                                        0.0, 
                                        1.41407
                                    ], 
                                    [
                                        -2.16084, 
                                        0.0, 
                                        1.62005
                                    ], 
                                    [
                                        -1.95755, 
                                        0.0, 
                                        1.86203
                                    ], 
                                    [
                                        -1.71731, 
                                        0.0, 
                                        2.08494
                                    ], 
                                    [
                                        -1.4948, 
                                        0.0, 
                                        2.24834
                                    ], 
                                    [
                                        -1.18811, 
                                        0.0, 
                                        2.42309
                                    ], 
                                    [
                                        -0.85247, 
                                        0.0, 
                                        2.56052
                                    ], 
                                    [
                                        -0.49324, 
                                        0.0, 
                                        2.65459
                                    ], 
                                    [
                                        -0.25834, 
                                        0.0, 
                                        2.68866
                                    ], 
                                    [
                                        -0.00478, 
                                        0.0, 
                                        2.96773
                                    ]
                                ]
                            }
                        ]
                    }
                }, 
                "transforms": {
                    "C_root_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.0, 
                            0.0, 
                            0.0
                        ]
                    }, 
                    "C_root_guide_GRP": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.0, 
                            0.0, 
                            0.0
                        ]
                    }, 
                    "C_visibility_CTL": {
                        "mirror_mode": 0, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.0, 
                            4.176069345206068, 
                            0.0
                        ]
                    }, 
                    "C_visibility_PVT": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.0, 
                            0.0, 
                            0.0
                        ]
                    }, 
                    "C_world_CTL": {
                        "mirror_mode": 0, 
                        "offset_ctrls": 2, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.0, 
                            0.0, 
                            0.0
                        ]
                    }, 
                    "C_world_PVT": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.0, 
                            0.0, 
                            0.0
                        ]
                    }, 
                    "C_world_offset1_CTL": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.0, 
                            0.0, 
                            0.0
                        ]
                    }, 
                    "C_world_offset2_CTL": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.0, 
                            0.0, 
                            0.0
                        ]
                    }, 
                    "C_world_offset3_CTL": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.0, 
                            0.0, 
                            0.0
                        ]
                    }, 
                    "C_world_offset_CTL": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.0, 
                            0.0, 
                            0.0
                        ]
                    }
                }
            }, 
            "part_type": "root"
        }
    ]
}