{
    "template": [
        {
            "options": {
                "endParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 3, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End parent.", 
                    "value": "L_thigh1_JNT", 
                    "value_required": true
                }, 
                "endPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 5, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End position ref.", 
                    "value": [
                        "L_thigh3_JNT"
                    ], 
                    "value_required": false
                }, 
                "name": {
                    "data_type": "string", 
                    "default": "myPiston", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 1, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Name.", 
                    "value": "hipFlexor", 
                    "value_required": true
                }, 
                "side": {
                    "data_type": "string", 
                    "default": "C", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 0, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Side.", 
                    "value": "L", 
                    "value_required": true
                }, 
                "startParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 2, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start parent.", 
                    "value": "C_hip_JNT", 
                    "value_required": true
                }, 
                "startPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 4, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start position ref.", 
                    "value": [
                        "body_PLY.vtx[8463]"
                    ], 
                    "value_required": false
                }
            }, 
            "part_data": {
                "attrs": {
                    "DISPLAYSPACER": 0, 
                    "REFSPACER": 0, 
                    "UniformScale": 1.0, 
                    "VISSPACER": 0, 
                    "controlDisplayLocalAxis": 0, 
                    "controlsVisibility": 1, 
                    "geometryVisibility": 1, 
                    "jointDisplayLocalAxis": 0, 
                    "jointsDisplay": 2, 
                    "jointsVisibility": 1, 
                    "rotateX": 0.0, 
                    "rotateY": 0.0, 
                    "rotateZ": 0.0, 
                    "translateX": 0.9661579984751869, 
                    "translateY": 8.232576280480073, 
                    "translateZ": 0.12355214104356049, 
                    "visibility": true
                }, 
                "nodes": [
                    "L_hipFlexor_piston_guide_GRP", 
                    [
                        "L_hipFlexor_start1_PLC", 
                        "L_hipFlexor_end1_PLC"
                    ], 
                    [], 
                    [], 
                    [], 
                    []
                ], 
                "shapes": {}, 
                "transforms": {
                    "L_hipFlexor_end1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.16286785374271284, 
                            -2.0040773289790934, 
                            -0.27395145627599427
                        ]
                    }, 
                    "L_hipFlexor_piston_guide_GRP": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.9661579984751869, 
                            8.232576280480073, 
                            0.12355214104356049
                        ]
                    }, 
                    "L_hipFlexor_start1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            -0.12795647564803847, 
                            1.1668101254647514, 
                            0.40175829178040834
                        ]
                    }
                }
            }, 
            "part_type": "piston"
        }, 
        {
            "options": {
                "endParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 3, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End parent.", 
                    "value": "L_thigh1_JNT", 
                    "value_required": true
                }, 
                "endPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 5, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End position ref.", 
                    "value": [
                        "L_thigh3_JNT"
                    ], 
                    "value_required": false
                }, 
                "name": {
                    "data_type": "string", 
                    "default": "myPiston", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 1, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Name.", 
                    "value": "glute", 
                    "value_required": true
                }, 
                "side": {
                    "data_type": "string", 
                    "default": "C", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 0, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Side.", 
                    "value": "L", 
                    "value_required": true
                }, 
                "startParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 2, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start parent.", 
                    "value": "C_hip_JNT", 
                    "value_required": true
                }, 
                "startPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 4, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start position ref.", 
                    "value": [
                        "body_PLY.vtx[8463]"
                    ], 
                    "value_required": false
                }
            }, 
            "part_data": {
                "attrs": {
                    "DISPLAYSPACER": 0, 
                    "REFSPACER": 0, 
                    "UniformScale": 1.0, 
                    "VISSPACER": 0, 
                    "controlDisplayLocalAxis": 0, 
                    "controlsVisibility": 1, 
                    "geometryVisibility": 1, 
                    "jointDisplayLocalAxis": 0, 
                    "jointsDisplay": 2, 
                    "jointsVisibility": 1, 
                    "rotateX": 0.0, 
                    "rotateY": 0.0, 
                    "rotateZ": 0.0, 
                    "translateX": 0.9661579984751869, 
                    "translateY": 8.232576280480073, 
                    "translateZ": 0.039258213458415625, 
                    "visibility": true
                }, 
                "nodes": [
                    "L_glute_piston_guide_GRP", 
                    [
                        "L_glute_start1_PLC", 
                        "L_glute_end1_PLC"
                    ], 
                    [], 
                    [], 
                    [], 
                    []
                ], 
                "shapes": {}, 
                "transforms": {
                    "L_glute_end1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.16286785374271284, 
                            -2.0040773289790934, 
                            -0.27395145627599427
                        ]
                    }, 
                    "L_glute_piston_guide_GRP": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.9661579984751869, 
                            8.232576280480073, 
                            0.039258213458415625
                        ]
                    }, 
                    "L_glute_start1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            -0.4219309980478063, 
                            1.1668101254647514, 
                            -1.2220196986894019
                        ]
                    }
                }
            }, 
            "part_type": "piston"
        }, 
        {
            "options": {
                "endParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 3, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End parent.", 
                    "value": "L_thigh1_JNT", 
                    "value_required": true
                }, 
                "endPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 5, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End position ref.", 
                    "value": [
                        "L_thigh3_JNT"
                    ], 
                    "value_required": false
                }, 
                "name": {
                    "data_type": "string", 
                    "default": "myPiston", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 1, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Name.", 
                    "value": "iliotibial", 
                    "value_required": true
                }, 
                "side": {
                    "data_type": "string", 
                    "default": "C", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 0, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Side.", 
                    "value": "L", 
                    "value_required": true
                }, 
                "startParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 2, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start parent.", 
                    "value": "C_hip_JNT", 
                    "value_required": true
                }, 
                "startPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 4, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start position ref.", 
                    "value": [
                        "body_PLY.vtx[8463]"
                    ], 
                    "value_required": false
                }
            }, 
            "part_data": {
                "attrs": {
                    "DISPLAYSPACER": 0, 
                    "REFSPACER": 0, 
                    "UniformScale": 1.0, 
                    "VISSPACER": 0, 
                    "controlDisplayLocalAxis": 0, 
                    "controlsVisibility": 1, 
                    "geometryVisibility": 1, 
                    "jointDisplayLocalAxis": 0, 
                    "jointsDisplay": 2, 
                    "jointsVisibility": 1, 
                    "rotateX": 0.0, 
                    "rotateY": 0.0, 
                    "rotateZ": 0.0, 
                    "translateX": 1.0651894486239826, 
                    "translateY": 8.232576280480073, 
                    "translateZ": 0.039258213458415625, 
                    "visibility": true
                }, 
                "nodes": [
                    "L_iliotibial_piston_guide_GRP", 
                    [
                        "L_iliotibial_start1_PLC", 
                        "L_iliotibial_end1_PLC"
                    ], 
                    [], 
                    [], 
                    [], 
                    []
                ], 
                "shapes": {}, 
                "transforms": {
                    "L_iliotibial_end1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.16286785374271284, 
                            -2.0040773289790934, 
                            -0.27395145627599427
                        ]
                    }, 
                    "L_iliotibial_piston_guide_GRP": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            1.0651894486239826, 
                            8.232576280480073, 
                            0.039258213458415625
                        ]
                    }, 
                    "L_iliotibial_start1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.2762487103316775, 
                            1.5345043728086978, 
                            -0.38305402041869896
                        ]
                    }
                }
            }, 
            "part_type": "piston"
        }, 
        {
            "options": {
                "endParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 3, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End parent.", 
                    "value": "L_thigh1_JNT", 
                    "value_required": true
                }, 
                "endPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 5, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End position ref.", 
                    "value": [
                        "L_thigh3_JNT"
                    ], 
                    "value_required": false
                }, 
                "name": {
                    "data_type": "string", 
                    "default": "myPiston", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 1, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Name.", 
                    "value": "abductor", 
                    "value_required": true
                }, 
                "side": {
                    "data_type": "string", 
                    "default": "C", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 0, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Side.", 
                    "value": "L", 
                    "value_required": true
                }, 
                "startParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 2, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start parent.", 
                    "value": "C_hip_JNT", 
                    "value_required": true
                }, 
                "startPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 4, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start position ref.", 
                    "value": [
                        "body_PLY.vtx[8463]"
                    ], 
                    "value_required": false
                }
            }, 
            "part_data": {
                "attrs": {
                    "DISPLAYSPACER": 0, 
                    "REFSPACER": 0, 
                    "UniformScale": 1.0, 
                    "VISSPACER": 0, 
                    "controlDisplayLocalAxis": 0, 
                    "controlsVisibility": 1, 
                    "geometryVisibility": 1, 
                    "jointDisplayLocalAxis": 0, 
                    "jointsDisplay": 2, 
                    "jointsVisibility": 1, 
                    "rotateX": 0.0, 
                    "rotateY": 0.0, 
                    "rotateZ": 0.0, 
                    "translateX": 0.8672120748876972, 
                    "translateY": 8.232576280480071, 
                    "translateZ": 0.03925821345841562, 
                    "visibility": true
                }, 
                "nodes": [
                    "L_abductor_piston_guide_GRP", 
                    [
                        "L_abductor_start1_PLC", 
                        "L_abductor_end1_PLC"
                    ], 
                    [], 
                    [], 
                    [], 
                    []
                ], 
                "shapes": {}, 
                "transforms": {
                    "L_abductor_end1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.4048742750275549, 
                            -2.7641107527638704, 
                            -0.14944396391518888
                        ]
                    }, 
                    "L_abductor_piston_guide_GRP": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.8672120748876972, 
                            8.232576280480071, 
                            0.03925821345841562
                        ]
                    }, 
                    "L_abductor_start1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            -0.7722661275786518, 
                            -0.38171495330853755, 
                            0.0
                        ]
                    }
                }
            }, 
            "part_type": "piston"
        }
    ]
}