{
    "template": [
        {
            "options": {
                "endParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 3, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End parent.", 
                    "value": "L_shoulder_JNT", 
                    "value_required": true
                }, 
                "endPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 5, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End position ref.", 
                    "value": [
                        "body_PLY.vtx[7515:7518]", 
                        "body_PLY.vtx[7541:7546]", 
                        "body_PLY.vtx[7549]", 
                        "body_PLY.vtx[7565:7568]", 
                        "body_PLY.vtx[8299:8300]", 
                        "body_PLY.vtx[8302]", 
                        "body_PLY.vtx[8788]", 
                        "body_PLY.vtx[8790]", 
                        "body_PLY.vtx[8803:8808]", 
                        "body_PLY.vtx[8841:8842]"
                    ], 
                    "value_required": false
                }, 
                "name": {
                    "data_type": "string", 
                    "default": "myPiston", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 1, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Name.", 
                    "value": "trap", 
                    "value_required": true
                }, 
                "side": {
                    "data_type": "string", 
                    "default": "C", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 0, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Side.", 
                    "value": "L", 
                    "value_required": true
                }, 
                "startParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 2, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start parent.", 
                    "value": "C_neck_spline2_PLC", 
                    "value_required": true
                }, 
                "startPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 4, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start position ref.", 
                    "value": [
                        "body_PLY.vtx[2409]", 
                        "body_PLY.vtx[2411]", 
                        "body_PLY.vtx[2413]", 
                        "body_PLY.vtx[2415]", 
                        "body_PLY.vtx[2417:2419]", 
                        "body_PLY.vtx[2421]", 
                        "body_PLY.vtx[2423]", 
                        "body_PLY.vtx[2935:2937]", 
                        "body_PLY.vtx[4117:4119]", 
                        "body_PLY.vtx[4122]", 
                        "body_PLY.vtx[4505:4506]", 
                        "body_PLY.vtx[4732:4737]", 
                        "body_PLY.vtx[4819:4820]", 
                        "body_PLY.vtx[4859:4860]", 
                        "body_PLY.vtx[5082:5085]", 
                        "body_PLY.vtx[5280:5282]", 
                        "body_PLY.vtx[5385:5388]", 
                        "body_PLY.vtx[5391:5394]", 
                        "body_PLY.vtx[5657:5658]", 
                        "body_PLY.vtx[6395]", 
                        "body_PLY.vtx[6421]"
                    ], 
                    "value_required": false
                }
            }, 
            "part_data": {
                "attrs": {
                    "DISPLAYSPACER": 0, 
                    "REFSPACER": 0, 
                    "UniformScale": 1.0, 
                    "VISSPACER": 0, 
                    "controlDisplayLocalAxis": 0, 
                    "controlsVisibility": 1, 
                    "geometryVisibility": 1, 
                    "jointDisplayLocalAxis": 0, 
                    "jointsDisplay": 2, 
                    "jointsVisibility": 1, 
                    "rotateX": 0.0, 
                    "rotateY": 0.0, 
                    "rotateZ": 0.0, 
                    "translateX": 0.9152799155296395, 
                    "translateY": 14.091065754047438, 
                    "translateZ": -0.45485710352659225, 
                    "visibility": true
                }, 
                "nodes": [
                    "L_trap_piston_guide_GRP", 
                    [
                        "L_trap_start1_PLC", 
                        "L_trap_end1_PLC"
                    ], 
                    [], 
                    [], 
                    [], 
                    []
                ], 
                "shapes": {}, 
                "transforms": {
                    "L_trap_end1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.5228168461738518, 
                            -0.48154132217557155, 
                            -0.12062819302082062
                        ]
                    }, 
                    "L_trap_piston_guide_GRP": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.9152799155296395, 
                            14.091065754047438, 
                            -0.45485710352659225
                        ]
                    }, 
                    "L_trap_start1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            -0.8816876471006101, 
                            0.32468284214396803, 
                            0.1304872259497642
                        ]
                    }
                }
            }, 
            "part_type": "piston"
        }, 
        {
            "options": {
                "endParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 3, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End parent.", 
                    "value": "L_arm1_JNT", 
                    "value_required": true
                }, 
                "endPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 5, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End position ref.", 
                    "value": [
                        "body_PLY.vtx[7595]"
                    ], 
                    "value_required": false
                }, 
                "name": {
                    "data_type": "string", 
                    "default": "myPiston", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 1, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Name.", 
                    "value": "pecA", 
                    "value_required": true
                }, 
                "side": {
                    "data_type": "string", 
                    "default": "C", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 0, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Side.", 
                    "value": "L", 
                    "value_required": true
                }, 
                "startParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 2, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start parent.", 
                    "value": "C_chest_JNT", 
                    "value_required": true
                }, 
                "startPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 4, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start position ref.", 
                    "value": [
                        "body_PLY.vtx[8213]"
                    ], 
                    "value_required": false
                }
            }, 
            "part_data": {
                "attrs": {
                    "DISPLAYSPACER": 0, 
                    "REFSPACER": 0, 
                    "UniformScale": 1.0, 
                    "VISSPACER": 0, 
                    "controlDisplayLocalAxis": 0, 
                    "controlsVisibility": 1, 
                    "geometryVisibility": 1, 
                    "jointDisplayLocalAxis": 0, 
                    "jointsDisplay": 2, 
                    "jointsVisibility": 1, 
                    "rotateX": 0.0, 
                    "rotateY": 0.0, 
                    "rotateZ": 0.0, 
                    "translateX": 0.8253434598445892, 
                    "translateY": 13.579946041107178, 
                    "translateZ": 0.19760690070688725, 
                    "visibility": true
                }, 
                "nodes": [
                    "L_pecA_piston_guide_GRP", 
                    [
                        "L_pecA_start1_PLC", 
                        "L_pecA_end1_PLC"
                    ], 
                    [], 
                    [], 
                    [], 
                    []
                ], 
                "shapes": {}, 
                "transforms": {
                    "L_pecA_end1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.612753301858902, 
                            -0.1541867256164533, 
                            -0.7717747425016492
                        ]
                    }, 
                    "L_pecA_piston_guide_GRP": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.8253434598445892, 
                            13.579946041107178, 
                            0.19760690070688725
                        ]
                    }, 
                    "L_pecA_start1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            -0.6138453781604767, 
                            -0.20780464105845198, 
                            0.10187981288695469
                        ]
                    }
                }
            }, 
            "part_type": "piston"
        }, 
        {
            "options": {
                "endParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 3, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End parent.", 
                    "value": "L_arm1_JNT", 
                    "value_required": true
                }, 
                "endPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 5, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End position ref.", 
                    "value": [
                        "body_PLY.vtx[7595]"
                    ], 
                    "value_required": false
                }, 
                "name": {
                    "data_type": "string", 
                    "default": "myPiston", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 1, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Name.", 
                    "value": "pecB", 
                    "value_required": true
                }, 
                "side": {
                    "data_type": "string", 
                    "default": "C", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 0, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Side.", 
                    "value": "L", 
                    "value_required": true
                }, 
                "startParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 2, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start parent.", 
                    "value": "C_chest_JNT", 
                    "value_required": true
                }, 
                "startPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 4, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start position ref.", 
                    "value": [
                        "body_PLY.vtx[8213]"
                    ], 
                    "value_required": false
                }
            }, 
            "part_data": {
                "attrs": {
                    "DISPLAYSPACER": 0, 
                    "REFSPACER": 0, 
                    "UniformScale": 1.0, 
                    "VISSPACER": 0, 
                    "controlDisplayLocalAxis": 0, 
                    "controlsVisibility": 1, 
                    "geometryVisibility": 1, 
                    "jointDisplayLocalAxis": 0, 
                    "jointsDisplay": 2, 
                    "jointsVisibility": 1, 
                    "rotateX": 0.0, 
                    "rotateY": 0.0, 
                    "rotateZ": 0.0, 
                    "translateX": 0.8253434598445892, 
                    "translateY": 13.536322780299656, 
                    "translateZ": 0.19760690070688725, 
                    "visibility": true
                }, 
                "nodes": [
                    "L_pecB_piston_guide_GRP", 
                    [
                        "L_pecB_start1_PLC", 
                        "L_pecB_end1_PLC"
                    ], 
                    [], 
                    [], 
                    [], 
                    []
                ], 
                "shapes": {}, 
                "transforms": {
                    "L_pecB_end1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.612753301858902, 
                            -0.1541867256164533, 
                            -0.7717747425016492
                        ]
                    }, 
                    "L_pecB_piston_guide_GRP": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.8253434598445892, 
                            13.536322780299656, 
                            0.19760690070688725
                        ]
                    }, 
                    "L_pecB_start1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            -0.5803209765344846, 
                            -0.8687975712986216, 
                            0.3987623219188845
                        ]
                    }
                }
            }, 
            "part_type": "piston"
        }, 
        {
            "options": {
                "endParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 3, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End parent.", 
                    "value": "L_arm1_JNT", 
                    "value_required": true
                }, 
                "endPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 5, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End position ref.", 
                    "value": [
                        "body_PLY.vtx[7595]"
                    ], 
                    "value_required": false
                }, 
                "name": {
                    "data_type": "string", 
                    "default": "myPiston", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 1, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Name.", 
                    "value": "pecC", 
                    "value_required": true
                }, 
                "side": {
                    "data_type": "string", 
                    "default": "C", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 0, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Side.", 
                    "value": "L", 
                    "value_required": true
                }, 
                "startParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 2, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start parent.", 
                    "value": "C_chest_JNT", 
                    "value_required": true
                }, 
                "startPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 4, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start position ref.", 
                    "value": [
                        "body_PLY.vtx[8213]"
                    ], 
                    "value_required": false
                }
            }, 
            "part_data": {
                "attrs": {
                    "DISPLAYSPACER": 0, 
                    "REFSPACER": 0, 
                    "UniformScale": 1.0, 
                    "VISSPACER": 0, 
                    "controlDisplayLocalAxis": 0, 
                    "controlsVisibility": 1, 
                    "geometryVisibility": 1, 
                    "jointDisplayLocalAxis": 0, 
                    "jointsDisplay": 2, 
                    "jointsVisibility": 1, 
                    "rotateX": 0.0, 
                    "rotateY": 0.0, 
                    "rotateZ": 0.0, 
                    "translateX": 0.8253434598445892, 
                    "translateY": 13.50721816459654, 
                    "translateZ": 0.19760690070688725, 
                    "visibility": true
                }, 
                "nodes": [
                    "L_pecC_piston_guide_GRP", 
                    [
                        "L_pecC_start1_PLC", 
                        "L_pecC_end1_PLC"
                    ], 
                    [], 
                    [], 
                    [], 
                    []
                ], 
                "shapes": {}, 
                "transforms": {
                    "L_pecC_end1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.612753301858902, 
                            -0.1541867256164533, 
                            -0.7717747425016492
                        ]
                    }, 
                    "L_pecC_piston_guide_GRP": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.8253434598445892, 
                            13.50721816459654, 
                            0.19760690070688725
                        ]
                    }, 
                    "L_pecC_start1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            -0.2547045279035065, 
                            -1.42080662483521, 
                            0.4828098068450325
                        ]
                    }
                }
            }, 
            "part_type": "piston"
        }, 
        {
            "options": {
                "endParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 3, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End parent.", 
                    "value": "L_shoulder_JNT", 
                    "value_required": true
                }, 
                "endPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 5, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End position ref.", 
                    "value": [
                        "L_arm1_JNT"
                    ], 
                    "value_required": false
                }, 
                "name": {
                    "data_type": "string", 
                    "default": "myPiston", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 1, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Name.", 
                    "value": "latt", 
                    "value_required": true
                }, 
                "side": {
                    "data_type": "string", 
                    "default": "C", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 0, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Side.", 
                    "value": "L", 
                    "value_required": true
                }, 
                "startParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 2, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start parent.", 
                    "value": "C_spine8_JNT", 
                    "value_required": true
                }, 
                "startPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 4, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start position ref.", 
                    "value": [
                        "body_PLY.vtx[8427:8440]", 
                        "body_PLY.vtx[8443:8444]", 
                        "body_PLY.vtx[8532:8549]", 
                        "body_PLY.vtx[8652:8653]", 
                        "body_PLY.vtx[8655:8675]", 
                        "body_PLY.vtx[8678:8679]", 
                        "body_PLY.vtx[8719:8748]", 
                        "body_PLY.vtx[8873:8874]", 
                        "body_PLY.vtx[8878:8883]", 
                        "body_PLY.vtx[8904:8915]", 
                        "body_PLY.vtx[8922:8923]", 
                        "body_PLY.vtx[8928:8929]", 
                        "body_PLY.vtx[8936]", 
                        "body_PLY.vtx[8939]", 
                        "body_PLY.vtx[8941]", 
                        "body_PLY.vtx[8943]", 
                        "body_PLY.vtx[8945]", 
                        "body_PLY.vtx[8947:8950]", 
                        "body_PLY.vtx[9021:9022]", 
                        "body_PLY.vtx[9031:9033]", 
                        "body_PLY.vtx[9046:9048]", 
                        "body_PLY.vtx[9058:9059]", 
                        "body_PLY.vtx[9492:9497]", 
                        "body_PLY.vtx[9528:9533]", 
                        "body_PLY.vtx[9624:9632]"
                    ], 
                    "value_required": false
                }
            }, 
            "part_data": {
                "attrs": {
                    "DISPLAYSPACER": 0, 
                    "REFSPACER": 0, 
                    "UniformScale": 1.0, 
                    "VISSPACER": 0, 
                    "controlDisplayLocalAxis": 0, 
                    "controlsVisibility": 1, 
                    "geometryVisibility": 1, 
                    "jointDisplayLocalAxis": 0, 
                    "jointsDisplay": 2, 
                    "jointsVisibility": 1, 
                    "rotateX": 0.0, 
                    "rotateY": 0.0, 
                    "rotateZ": 0.0, 
                    "translateX": 1.2952497100117695, 
                    "translateY": 11.996790909331793, 
                    "translateZ": -0.4881938078295347, 
                    "visibility": true
                }, 
                "nodes": [
                    "L_latt_piston_guide_GRP", 
                    [
                        "L_latt_start1_PLC", 
                        "L_latt_end1_PLC"
                    ], 
                    [], 
                    [], 
                    [], 
                    []
                ], 
                "shapes": {}, 
                "transforms": {
                    "L_latt_end1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.14284707062273116, 
                            1.3764784093662126, 
                            -0.15274101280084817
                        ]
                    }, 
                    "L_latt_piston_guide_GRP": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            1.2952497100117695, 
                            11.996790909331793, 
                            -0.4881938078295347
                        ]
                    }, 
                    "L_latt_start1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            -0.1428470706227314, 
                            -1.0107299786469675, 
                            0.15274101280084817
                        ]
                    }
                }
            }, 
            "part_type": "piston"
        }, 
        {
            "options": {
                "endParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 3, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End parent.", 
                    "value": "L_arm1_JNT", 
                    "value_required": true
                }, 
                "endPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 5, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "End position ref.", 
                    "value": [
                        "body_PLY.vtx[7595]"
                    ], 
                    "value_required": false
                }, 
                "name": {
                    "data_type": "string", 
                    "default": "myPiston", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 1, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Name.", 
                    "value": "scap", 
                    "value_required": true
                }, 
                "side": {
                    "data_type": "string", 
                    "default": "C", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 0, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Side.", 
                    "value": "L", 
                    "value_required": true
                }, 
                "startParent": {
                    "data_type": "parent_driver", 
                    "default": "C_root_JNT", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 2, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start parent.", 
                    "value": "C_chest_JNT", 
                    "value_required": true
                }, 
                "startPositionRef": {
                    "data_type": "selection", 
                    "default": "", 
                    "editable": true, 
                    "enum": "", 
                    "max": null, 
                    "min": null, 
                    "order_index": 4, 
                    "part_types": [], 
                    "require_rebuild": false, 
                    "tool_tip": "Start position ref.", 
                    "value": [
                        "body_PLY.vtx[8213]"
                    ], 
                    "value_required": false
                }
            }, 
            "part_data": {
                "attrs": {
                    "DISPLAYSPACER": 0, 
                    "REFSPACER": 0, 
                    "UniformScale": 1.0, 
                    "VISSPACER": 0, 
                    "controlDisplayLocalAxis": 0, 
                    "controlsVisibility": 1, 
                    "geometryVisibility": 1, 
                    "jointDisplayLocalAxis": 0, 
                    "jointsDisplay": 2, 
                    "jointsVisibility": 1, 
                    "rotateX": 0.0, 
                    "rotateY": 0.0, 
                    "rotateZ": 0.0, 
                    "translateX": 0.8253434598445892, 
                    "translateY": 13.579946041107178, 
                    "translateZ": 0.0114794684816939, 
                    "visibility": true
                }, 
                "nodes": [
                    "L_scap_piston_guide_GRP", 
                    [
                        "L_scap_start1_PLC", 
                        "L_scap_end1_PLC"
                    ], 
                    [], 
                    [], 
                    [], 
                    []
                ], 
                "shapes": {}, 
                "transforms": {
                    "L_scap_end1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.612753301858902, 
                            -0.1541867256164533, 
                            -0.7717747425016492
                        ]
                    }, 
                    "L_scap_piston_guide_GRP": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            0.8253434598445892, 
                            13.579946041107178, 
                            0.0114794684816939
                        ]
                    }, 
                    "L_scap_start1_PLC": {
                        "mirror_mode": null, 
                        "offset_ctrls": null, 
                        "rotate": [
                            0.0, 
                            0.0, 
                            0.0
                        ], 
                        "rotate_order": 0, 
                        "scale": [
                            1.0, 
                            1.0, 
                            1.0
                        ], 
                        "translate": [
                            -0.6138453781604767, 
                            -0.43938314267929, 
                            -1.4559581672263553
                        ]
                    }
                }
            }, 
            "part_type": "piston"
        }
    ]
}